/*@font-face {
    font-family: 'open_sansregular';
    src: url('fuentes/OpenSans-Regular-webfont.eot');
    src: url('fuentes/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fuentes/OpenSans-Regular-webfont.woff') format('woff'),
         url('fuentes/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fuentes/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/
@font-face {
	font-family: 'icomoon';
	src:url('fuentes/icomoon.eot?-tqora8');
	src:url('fuentes/icomoon.eot?#iefix-tqora8') format('embedded-opentype'),
		url('fuentes/icomoon.woff?-tqora8') format('woff'),
		url('fuentes/icomoon.ttf?-tqora8') format('truetype'),
		url('fuentes/icomoon.svg?-tqora8#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-Pluma:before {
	content: "\e908";
	margin-right: 0.8em;
}

.icon-Estrella:before {
	content: "\e9d7";
	color: #FFBE2C;
	margin-right: 0.4em;
	position: relative;
	top: .1em;

}

.icon-F-arriba:before {
	content: "\ea32";
}

.icon-F-abajo:before {
	content: "\ea36";
	color: #DD4F24;

	text-decoration: none;

}

body
{



	background:rgba(100,0,22,.5) url(avatar.jpg) fixed;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	font-family: "Open Sans";
	font-size: 16px;
}
a:{


	color:#fff;
	text-decoration: none;
	border-bottom:1px solid #f0c;

}
a:hover{


	border: none;
}
header{
	background:#343B54;
	color:white; 
	padding:0.5em;
	overflow: hidden;

	
	position: relative;


}
header figure{
	float: left;

}		
header h1{
	
	font-size: 1.2em;
	font-weight: normal;
	margin: 0.2em 5em 0 0;
	/*text-align: center;*/
	position:absolute;
	top:20px;
	left:130px;

}


header #avatar{

	margin: 4em 2em 0 0;
	position:absolute;
	
	top:0;
	right:0;

}
header #avatar img{

	
	width:55px;
	border-radius: 50%;
	margin: -70px 0 0 0px;
	
}
header #logo{


	
	-moz-transform:rotate(90deg);/*Mozilla*/
	border-right: 1px solid white;

}

header #logo img{

	
	
	
	margin-right: 0.5em;
	padding-right: 0.5em;
	width: 52px;
	


}
header #logo img:hover{
	transform:rotate(360deg);/*Chrome*/
	transition:1s;
	}
input{
    font-size: large;
    font-style: italic;
    border: 3px solid #70C332;
    color: white;
    background: black;
}

input:focus{
    background: #eee;
    color:footer;
}
footer{


	background: #22BCE0;
	text-align: center;
	color: red;
	padding: 1em;
	color: rgba(255,255,255,0.7);
}
footer p:first-child{

	margin-bottom: 0;

}
footer p:last-child{
	
	margin-top: 0;

}
footer p:last-child:before{


	content: "- ";
}
footer p:last-child:after{


	content: "- ";
}

nav{


	background:#11A96A; /* Esto no afecta al diseño del comentario.*/
	padding: 0 6em;
	position: relative;
	box-shadow: rgba(0,0,0,0.5) 0px 5px 10px;
	}
nav ul{


	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul #publicar_nav{

	position: absolute;
	top: -0.4em;
	right: 0;

}
nav ul #publicar_nav a{
	background: #22BCE0;
	border-radius: 5px;
	padding: 0.8em;
	text-decoration: none;
	font-style: italic;
	text-shadow:rgba(0,0,0,1) 2px 2px 5px;
	box-shadow:rgba(0,0,0,1) 5px 5px 20px;
	}
nav ul #publicar_nav a:hover:before{


		font-size: 20px;
	}
nav ul li a:hover{

		background-color: #11BCE0;
	}
nav ul li{

	display: inline-block;
	margin: 0 1.2em 0 0 ;
}
nav ul li a{

	color: white;
	display: block;
	padding: 0.5em 0; 
	transition:.3s;
}
video {

	display:none;
}

#contenido{

	margin:2em;

}

#contenido .item{


	background: white;
	border-bottom: thick double #22BCE0;
	position: relative;
	min-height: 104px;
	margin-bottom: 2em;
}


#contenido .item .autorcito_item{

	color:#AAA;
	border: 1px solid red;
}
#contenido .item .votacion a
{


	text-decoration: none;
}
#contenido .item .votacion .comentarios_item,
#contenido .item .votacion .guardar_item{

	float: right;

}
#contenido .item .datos_item{


		text-align: right;
		margin: 1em 1em 0 0;
}
#contenido .item .datos_item .fecha_item{

	color:#aaa;
}
#contenido .item .datos_item .tag_item{
	background:#F4502A;
	color: white;

	text-decoration: none;
	display: inline-block;
	padding:0.2em 0.5em;
	border-radius: 0.5em;
	float: left;


}
#contenido .item .votacion{

	position:absolute;
	top:100%;
	background: white;
	width: 90%;
	left:5%;
	margin-top: 3px;
	padding: 0.2em 0.5em;
	border-radius: 0 0 0.5em 0.5em;
}

#contenido .item .imagen_item{

	float: left;
	margin: 0.5em 1em 0.5em 0.5em;
	padding: 0;


}
#contenido .item .imagen_item img{
	
		width: 96px;
		
}

#contenido .item .titulo_item{


	font-size: 1.2em;
	font-style: italic;
	margin:1em 1em 0 0;

}

#contenido .item .titulo_item a{

	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .5em;




}
/*@media print{
	body{
	font-size:50px; }
}
*/
@media screen and (min-width:800px){	
	body{

		background-color: gray;
	}
	#contenido .item{

		width: 49%;
		display: inline-block;
	}
} /*Esto es un media query*/
@media screen and (min-width:1000px){
	video{
	display: block;
	float: right;
	position: relative;
	top: 3em;
	width: 30%;
	margin-right: 10em;
	margin-bottom: 2em;

	}
	#contenido .item:nth-child(5), #contenido .item:nth-child(7)
{
	background-color: red;
}



